<% content_for :title do %>
  Admin index page
<% end %>
<div id="admin_edit_page">

<h1>Edit Resource</h1>
(back to <a href='/admin'>Overview</a>)

<% if @success %>
  <p> Resource succesfully saved.</p>
<% end %>

<form action="http://searchparty-1.apphb.com/Resource/Update" method="post">

  <div id="title_input_area" class="panel">
    <input id="Id" name="Id" type="hidden" value="<%= @resource['id'] %>" />
    <h2>Title:</h2>
    <input name="Title" id="Title" value="<%= @resource['title'] %>" /><br>
    <h2>Uri:</h2>
    <input name="Uri" id="Uri" value="<%= @resource['uri'] %>" /><br>
    <h2>Tags:</h2>
    <input name="Tags" id="Tags" value="<%= @resource['tags'] %>" /><br>
    <h2>Short Description:</h2>
    <textarea cols="50" rows="10" name="ShortDescription" id="ShortDescription" ><%= @resource['shortDescription'] %></textarea><br>
    <h2>Long Description:</h2>
    <textarea cols="50" rows="10" name="LongDescription" id="LongDescription" ><%= @resource['longDescription'] %></textarea><br>

    <select id="ResourceType" name="ResourceType">
      <% @resourcetypes.each do |resourcetype| %>
        <option <%= 'selected' if resourcetype==@resource['resourceType'] %>><%= resourcetype %></option>
      <% end %>
    </select>

    <input class="submit" type="submit" value="Save" />
  </div>


</form>

</div>

