<% content_for :title do %>
	Admin index page
<% end %>
<div id="admin_index_page">

<% if @success %>
  <p> Resource succesfully created.</p>
<% end %>


  <h2>Create a new Resource</h2>
<a href="/admin/new" >Create new resource </a> 
<br>

<br>
  <h2>Edit existing Resources</h2>
<% if @tags %>
  <p class="success">Only showing resources tagged with: <%= @tags %></p>
  <p><a href="/admin">clear filter</a></p>
<% else %>
  <p>
    <form action="/admin/tags" method="get">
      Filter by tags: <input name="tags" id="Tags" value="<%= @tags %>" />
      <input class="submit" type="submit" value="Filter" />
    </form>
  </p>
<% end %>
<table>
  <tr>
    <th>Title</th>
	<th> Short Description </th>
  <tr>
  <% @results.each do |result| %>
    <tr>
      <td width=220> <a href="/admin/edit?id=<%= result['id'] %>" ><%= result['title'] %> </a> </td>
<td width=400><%= result['shortDescription'] %> </a> </td>
    </tr>
  <% end %>
      

</table>

</div>
