<div class="categories">

	<% @categories.each do |cat| %>
		<div class="category">
			<h3><a href="/cats/<%= cat["id"] %>"><%= cat["title"] %></a></h3>
			<p><%= cat["blurb"] %></p>
			<ul>
			  <% cat["searchResultLinks"].each do |link| %>
  				<li><a href="/search?q=<%= link["title"].escaped %>"><%= link["title"] %></a></li>
				<% end %>
			</ul>
		</div>
	<% end %>

</div>