<% content_for :title do %>
	Look what we found!
<% end %>
<div id="results_page">
  
	<form action="/process" method="get">

    <% @tags.each do |tag| %>
      <% name, value = tag.split(":")[0] %>
      <input type="hidden" name="<%= name %>" value="<%= tag %>" />
    <% end %>

		<div id="search_input_area" class="panel">
			<input value="<%= @query %>" name="query" id="query" />
			<input class="submit" type="submit" value="Search" />
		</div>

	</form>

	<% if @results.empty? %>
	  <p>Unfortunately, we couldn't find anything!</p>
	  <p><a href="http://www.sadtrombone.com" target="_blank">Now Go Here</a></p>
	<% else %>

		<div class="results">
		  <% if false %>
			<ul class="alternate_level_nav">
				<li class="selected"><a href="#">Novice</a></li>
				<li><a href="#">Intermediate</a></li>
				<li><a href="#">Advanced</a></li>
			</ul>
			<% end %>
			<div class="content">
			  
				<div class="column first_column">
				  
				  <% @results.column1.each do |item| %>		
  				  <%= erb :result, :locals => {:item => item} %>
				  <% end %>

				</div>

				<div class="column">
				  
				  <% @results.column2.each do |item| %>		
  				  <%= erb :result, :locals => {:item => item} %>
				  <% end %>

				</div>

			</div>
		</div>

	<% end %>
</div>
