<%				  
  type_class = case item["resourceType"]
    when /uri|ExternalLink|ExternalPage/i
      "type_link"
    when /YouTubeVideo/i
      "type_video"
    when /PDF/i
      "type_pdf"
    else
      "type_text"
  end
  promoted_class = item["tags"].include?("promoted") ? "promoted" : ""
%>

<% if type_class =="type_link" %>
  <div class="result type_text <%= promoted_class %>">
		<h3><%= item["title"] %></h3>
		<p><%= item["shortDescription"] %></p>
		<a class="read_more" href="<%= item["uri"] %>" target="_blank">Read more &raquo;</a>
	</div>
<% end %>

<% if type_class =="type_video" %>
  <div class="result type_video">
		<iframe width="420" height="300" src="<%= item["uri"] %>" frameborder="0" allowfullscreen></iframe>
	</div>
<% end %>

<% if type_class =="type_text" %>
  <div class="result type_text">
    <h3><%= item["title"] %></h3>
    <p><%= item["shortDescription"] %></p>
  </div>
<% end %>